{% from 'form_helper.html' import displayField %}

{% extends "prelogin.html" %}

{% block title %}Registration{% endblock %} 

{% block content %}

	<h2>
    	Login Now!
	</h2>

	<p>Enter your username/password to start.</p>

<form action="{{ url_for('index')}}" method="POST" novalidate>

	 {{ displayField(form.username,"Username",autocomplete="off",autofocus=true)}}
	 {{ displayField(form.password,"Password")}}
	 {{ displayField(form.confirm_pass,"Retype Password")}}

	<!--Create button-->
	<div>
		{{ form.submit_button }}
	</div>
	<!--To avoid malicious attacks like csrf attack, used csrf_token which is a hidden tag-->

	{{ form.csrf_token }}

       

</form>


{% endblock %}